<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQL10Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>


        <!-- Assume ИМЯ ВАШЕЙ БД is the database name -->

        <property name="hibernate.connection.url">
            jdbc:postgresql://109.227.122.143:5432/userdb
        </property>
        <property name="hibernate.connection.username">
            postgres
        </property>
        <property name="hibernate.connection.password">
            admin
        </property>

        <mapping class="dreamteam.dto.User"/>


    </session-factory>


        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory
        </property>
        <property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>
        <property name="hibernate.generate_statistics">true</property>

        <mapping class="dreamteam.dto.User"/>

    </session-factory>

</hibernate-configuration>